/* General */
.text-center {
  text-align: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
}

.stretch {
  width: 100%;
}






/* Item specific */
.title {
  padding: 1em;
  color: rgb(223, 255, 201);
  background-color: #2b8505;
}

.wealth-counter {
  padding: 0.5em;
  background-color: #66e124;
}

.bezos-container {
  margin-top: 11em;
  /* background-color: green; */
}

.bezos-face {
  width: 30%;
  border-style: solid;
  border-radius: 20px;
  border-width: 7px;
  border-color: green;
}

.expense-list {
  margin-top: 5em;
  z-index: 100;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 25%;
  background-color: green;
}

footer {
  position: bottom;
  bottom: 0;
  padding: 1em;
  background-color: lightgray;
  margin-top: 2em;
  margin-bottom: -2em;
}