/* General */
.text-center {
  text-align: center;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.sticky {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
}

.stretch {
  width: 100%;
}






/* Item specific */
.top-bar {
  width: 100%;
}

.title {
  padding: 1em;
  color: rgb(223, 255, 201);
  background-color: #2b8505;
}

.wealth-counter {
  padding: 0.7em;
  font-size: 30px;
  font-weight: bold;
  background-color: #66e124;
}

.bezos-container {
  margin-top: 11em;
  /* background-color: green; */
}

.bezos-face {
  width: 30%;
  border-style: solid;
  border-radius: 20px;
  border-width: 7px;
  border-color: green;
}

.description {
  margin-left: 2em;
  margin-right: 2em;
}

.expense-list {
  margin-top: 5em;
  z-index: 100;
}

.expense-item {
  margin-top: 5em;
}

.image {
  width: 22.5%;
}

.counter-container {
  margin-top: 0.5em;
}

.number {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 20px;
  font-weight: bold;
}

.counter-button {
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 20px;
  font-size: 18px;
}

.minus-button {
  background-color: #9f0a0a;
}

.minus-button:hover {
  background-color: #e12424;
}

.plus-button {
  background-color: #3bac0a;
}

.plus-button:hover {
  background-color: #66e124;
}

.all-button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
  font-size: 18px;
  width: 15em;
}

footer {
  position: bottom;
  bottom: 0;
  padding: 1em;
  background-color: lightgray;
  margin-top: 2em;
  margin-bottom: -2em;
  /* padding-left: 25%;
  padding-right: 25%; */
  display: flex;
  justify-content: space-between;
}

.credit {
  color: gray;
}

.credit a{
  color: rgb(19, 89, 151);
}

.credit a:hover {
  color: rgb(1, 63, 77);
  /* font-weight: bold; */
}

.socials {
  margin-top: 1em;
}

.socials a {
  margin-left: 1em;
}

.faIcon {
  color: rgb(67, 67, 67);
}

.faIcon:hover {
  color: rgb(26, 25, 25);
}