.text-center {
  text-align: center;
}

.sticky {
  position: sticky;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 25%;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
}